body {
	font-family: 'Century Gothic', Calibri, Serif;
	font-size: 13px;
	margin: 10px;
	padding: 10px;
}

h1 {
	font-size: 40px;
	font-weight: normal;
	text-align: center;
}

header {
	height: 100px;
}

footer {
	height: 80px;
	padding-top: 30px;
	text-align: center;
	background-color: #C5C5C5;
	border-top: 2px solid #AAA;
}

nav li {
	list-style-type: none;
	float: left;
}

nav ul {
	margin: 0px;
	padding: 0px;
}

nav {
	width: 100%;
	background-color: #424558;
}

nav a {
	display: inline-block;
	text-decoration: none;
	padding: 20px 30px;
	color: #FFF;
	text-transform: uppercase;
	font-size: 15px;
}

.table {
	display: table;
	margin: 0 auto;
}
.menu-ind:hover {
	border-top: 5px solid #4c8;
	background-color: rgba(64,200,130,0.15);
}

.menu-exp:hover {
	border-top: 5px solid #f1dc4f;
	background-color: rgba(241,211,79,0.15);
}

.menu-hob:hover {
	border-top: 5px solid #0070bb;
	background-color: rgba(000,112,192,0.15);
}

.menu-con:hover {
	border-top: 5px solid #e44d26;
	background-color: rgba(228,77,38,0.15);
}

nav li:hover a {
	padding: 15px 30px 20px 30px;
}

@media screen and (max-width: 780px) {
	header {
		height: 50px;
	}
	h1 {
		font-size: 28px;
		margin: 20px 0px 0px 0px;
	}
	nav li a {
		font-size: 12px;
		padding: 10px;
	}
	nav li:hover a {
		padding: 5px 10px 10px 10px;
	}
}

section {
	width: 100%;
	min-height: 300px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.sec {
	margin: 0px 10%;
}

.left {
	float: left;
	width: 30%;
}
.leftexp {
	float: left;
	width: 30%;
}

.left img {
	width: 60%;
}

.right {
	float: left;
	width: 70%;
}
.rightexp {
	float: left;
	width: 70%;
}

.cleft, .cright, .sousleft, .sousright {
	width: 50%;
	float: left;
}

.sec::after, .exp::after, .reco::after {
	content: "";
	display: table;
	clear: both;
}

#presentation {
	border-top: 5px solid #4c8;
	background-color: rgba(64, 200, 130, 0.15);
}

#parcours {
	border-top: 5px solid #f1dc4f;
	background-color: rgba(241,211,79,0.15);
}

.orange {
	border-top: 5px solid rgb(205, 219, 212);
	background-color:#E9967A;
}
.teal {
	border-top: 5px solid  rgba(118, 180, 209, 0.15);
	background-color: teal;
}
.gray {
	border-top: 5px solid rgba(228, 77, 38, 0.15);
	background-color: #F5F5DC;
}

#recommandation {
	border-top: 5px solid #e44d26;
	background-color: rgba(228, 77, 38, 0.15);
}

#competences {
	border-top: 5px solid #0070bb;
	background-color: rgba(000, 112, 192, 0.15);
}
.souligner {
	text-decoration: underline;
}

.image {
	width: 150px;
	transform: rotate(-90deg);
}

.bleu {
	border-top: 5px solid rgba(228, 77, 38, 0.15);
	background-color: #AFEEEE;
}