#ecommerce {
	width: 100%;
	height: 450px;
	border: 3px solid #333;
	background-image: url("../images/1.png");

	-webkit-animation-name: commerce;
	-webkit-animation-duration: 12s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
}

@-webkit-keyframes commerce {
	0% {background-image: url("../images/1.png");}
	33% {background-image: url("../images/2.png");}
	66% {background-image: url("../images/3.png");}
	}

#E-commerce {
	border-top: 5px solid #f1dc4f;
	background-color: rgba(81, 202, 25, 0.15);
}

#E-commerce .sec p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center justify;
}

#espmedical {
	width: 100%;
	height: 450px;
	border: 3px solid #06e6ae;
	background-image: url("../images/5.png");

	-webkit-animation-name: espmedical;
	-webkit-animation-duration: 12s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
}

@-webkit-keyframes espmedical {
	0% {background-image: url("../images/5.png");}
	15% {background-image: url("../images/8.png");}
    30% {background-image: url("../images/9.png");}
    45% {background-image: url("../images/10.png");}
	60% {background-image: url("../images/14.png");}
    75% {background-image: url("../images/16.png");}
    90% {background-image: url("../images/18.png");}
	100% {background-image: url("../images/20.png");}
}

#EspMedical {
	border-top: 5px solid #29b916;
	background-color: rgba(25, 122, 202, 0.15);
}

#EspMedical .sec p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
	text-align: center justify;
}