body {
	font-family: 'Century Gothic', Calibri, Serif;
	font-size: 13px;
	margin: 10px;
	padding: 10px;
}

h1 {
	font-size: 40px;
	font-weight: normal;
	text-align: center;
}

header {
	height: 100px;
}

footer {
	height: 80px;
	padding-top: 30px;
	text-align: center;
	background-color: #C5C5C5;
	border-top: 2px solid #AAA;
}

nav li {
	list-style-type: none;
	float: left;
}

nav ul {
	margin: 0px;
	padding: 0px;
}

nav {
	width: 100%;
	background-color: #424558;
}

nav a {
	display: inline-block;
	text-decoration: none;
	padding: 20px 30px;
	color: #FFF;
	text-transform: uppercase; /*Pour dire des mettres les lettres en majuscules*/
	font-size: 15px;
}

.table {
	display: table;
	margin: 0 auto;
}

.menu-ind:hover {
	border-top: 5px solid #4c8;
	background-color: rgba(64,200,130,0.15);
}

.menu-exp:hover {
	border-top: 5px solid #f1dc4f;
	background-color: rgba(241,211,79,0.15);
}

.menu-hob:hover {
	border-top: 5px solid #0070bb;
	background-color: rgba(000,112,192,0.15);
}

.menu-con:hover {
	border-top: 5px solid #e44d26;
	background-color: rgba(228,77,38,0.15);
}

nav li:hover a {
	padding: 15px 30px 20px 30px;
}

@media screen and (max-width: 780px) {
	header {
		height: 50px;
	}
	h1 {
		font-size: 28px;
		margin: 20px 0px 0px 0px;
	}
	nav li a {
		font-size: 12px;
		padding: 10px;
	}
	nav li:hover a {
		padding: 5px 10px 10px 10px;
	}
}

section {
	width: 100%;
	min-height: 300px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#presentation {
	border-top: 5px solid #4c8;
	background-color: rgba(64, 200, 130, 0.15);
}

.sec {
	margin: 0px 10%;
}

.left {
	float: left;
	width: 30%;
}

.left img {
	width: 60%;
}

.right {
	float: left;
	width: 70%;
}

.image {
	width: 150px;
	transform: rotate(-90deg);
}

.left p {
	font-size: 20px;
	color: #696969;
}
.right table {
	border: 2px solid #424558;
	margin-left: 40px;
}
.right table th {
	border: 2px solid #424558;
}
.right table td {
	border: 2px solid #424558;
}

.sec::after {
	content: "";
	display: table;
	clear: both;
}

#tuto {
	border-top: 5px solid #f1dc4f;
	background-color: rgba(81, 202, 25, 0.15);
}

#tuto .sec {
	margin-top: 10px;
	padding: 5px;
}

.dleft {
	float: initial;
}
.dright {
	top: 5px;
	width: 100%;
	margin-left: 2px;
}

.dleft p {
	font-size: 20px;
	color: #696969;
}

.bleu {
	border-top: 5px solid rgba(228, 77, 38, 0.15);
	background-color: #F5FFFA;
}

.tableau {
	border-top: 5px solid rgba(12, 112, 17, 0.15);
	background-color: #FFFFE0;
}

#tutaux {
	margin: 0 auto;
	width: 40%;
	border: 2px solid cadetblue;
}

.tableau .sec p {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 20px;
}

#diaporama {
	border-top: 5px solid #f1dc4f;
	background-color: rgba(17, 19, 146, 0.15);
}
#diaporama1 {
	width: 100%;
	height: 450px;
	border: 3px solid #333;
	background-image: url("../images/1.png");

	-webkit-animation-name: diapo1;
	-webkit-animation-duration: 12s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;

	-moz-animation-name: diapo1;
	-moz-animation-duration: 12s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: normal;
	
	animation-name: diapo1;
	animation-duration: 12s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

@-webkit-keyframes diapo1 {
	0% {background-image: url("../images/1.png");}
	25% {background-image: url("../images/4.png");}
	50% {background-image: url("../images/8.png");}
	75% {background-image: url("../images/14.png");}
	99% {background-image: url("../images/14.png");}
	}

